<header class="header">
    <div class="top">
        <!-- <img src="#" alt="Burger menu"> -->
        <a href=""><i class="fa-solid fa-bars"></i></a>
        <h1>CATEGORIES</h1>
        <i class="fa fa-search" aria-hidden="true"></i>
    </div>
    <div class="bottom">
        <a href="">Most recent</a>
        <a href="">Most ancient</a>
    </div>
</header>

<div class="list-groups">
    <div class="total-wrapper">
        <p class="total">Total amount</p>
        <p class="price">$00</p>
    </div>
    <ul class="groups">
    <li>
        <a href="#">
            <div class="icon-name-wrapper">
                <%= image_tag("mac.jpg", class: "icon", alt: "Icon") %>
                <div>
                    <p class="total">Group name</p>
                    <p class="gn-date">date</p>
                </div>
            </div>            
            <p class="tr-price">$00</p>
        </a>
    </li>  
       <li>
            <a href="#">
                <div class="icon-name-wrapper">
                    <%= image_tag("mac.jpg", class: "icon", alt: "Icon") %>
                    <div>
                        <p class="total">Group name</p>
                        <p class="gn-date">date</p>
                    </div>
                </div>            
                <p class="tr-price">$00</p>
            </a>
       </li> 
    </ul>
    <div class="add-category-wrapper">
        <a href="#" class="add-category">+</a>
    </div>  
</div>
