<header class="header-two">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
    <div class="center">
        <h1>EXPENSES</h1>
    </div>
</header>

<div class="list-groups">
    <div class="details">
        <%= image_tag("mac.jpg", class: "icon", alt: "Icon") %>
        <p class="total">Group name</p>
    </div>
    <div class="line-wrapper">
        <hr class="line">
    </div>
    <div class="one-transaction">
        <div class="transaction-data">
            <h2>TRANSACTIONS</h2>
            <p class="gn-date">Thu. 12, 2021 <p/>
        </div>
        <div class="item">
            <hr class="line-short">
            <div class="p-wrapper">
                <p>Bread</p>
                <p>$12</p>
            </div>
            <div class="p-wrapper">
                <p>Enjera</p>
                <p>$30</p>
            </div>
            <hr class="line-short">
            <div class="total-expense">
                <h3>TRANSACTION EXPENSE</h3>
                <p class="price">$42</p>
            </div>
        </div>
        <div class="item">
            <hr class="line-short">
            <div class="p-wrapper">
                <p>Salt</p>
                <p>$1</p>
            </div>
            <div class="p-wrapper">
                <p>Ginger</p>
                <p>$3</p>
            </div>
            <hr class="line-short">
            <div class="total-expense">
                <h3>TRANSACTION EXPENSE</h3>
                <p class="price">$4</p>
            </div>
        </div>
        <div class="total-transaction">
            <h2>TOTAL EXPENSE</h2>
            <p class="price">$46</p>
        </div>
    </div>
</div>
