<div class="splash">
    <div class="title">
        <%= image_tag("logo.png", class: "logo", alt: "LOGO") %>
        <h1>Smart Budget</h1>
    </div>
    <div class="links">
        <a href="/users/sign_in" class="sign_in">LOG IN</a>
        <a href="users/sign_up" class="sign_up">SIGN UP</a>
    </div>
</div>