/*
 *= require_tree .
 *= require_self
 */
@import "font-awesome";

*,
html {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #ebe7e7;
  font-family: Arial, Helvetica, sans-serif;
}

.notification {
  width: 100%;
  display: flex;
  justify-content: center;
}
