.header {
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: #3778c2;
}

.header .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
}

.top h1 {
  font-size: 25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header .bottom {
  display: flex;
  justify-content: right;
}

.bottom a {
  margin: 12px 24px 0 24px;
  text-decoration: none;
  color: #fff;
}

.bottom div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header i {
  font-size: 27px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
  margin: 12px;
}

.bottom div i {
  font-size: 8px;
  color: #fff;
  visibility: hidden;
}

.list-groups {
  height: 100%;
  background-color: #ebe7e7;
  display: flex;
  flex-direction: column;
}

.list-groups .total-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  color: #434b54;
  background-color: #fff;
  height: 100px;
  font-weight: 500;
}

.list-groups .total {
  color: gray;
  font-weight: 600;
  font-size: 20px;
}

.list-groups .icon {
  width: 80px;
  height: 80px;
}

.icon-name-wrapper {
  display: flex;
  align-items: center;
}

.icon-name-wrapper img {
  margin-right: 12px;
}

.icon-name-wrapper div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.groups a {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  margin: 12px;
}

.price {
  font-weight: 600;
  font-size: 23px;
}

.tr-price {
  font-weight: 600;
  font-size: 18px;
  color: #434b54;
}

.gn-date {
  color: gray;
  font-size: 12px;
  margin-top: 24px;
}

.groups {
  list-style-type: none;
}

.groups li,
.add-category-wrapper {
  background-color: #fff;
  height: 100px;
  margin: 12px;
}

.groups li:hover {
  background-color: #d7dce6;
}

.group-name-date {
  display: flex;
  flex-direction: column;
}

.add-category-wrapper {
  margin: 0;
  margin-top: 50px;
  background-color: #5fb523;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-category-wrapper a {
  width: 95%;
  height: 60px;
  color: #fff;
  font-size: 60px;
  border: #fff solid 1px;
  border-radius: 10px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-category-wrapper a:hover {
  background-color: #fff;
  color: #5fb523;
}

.recent,
.ancient {
  font-weight: 600;
}

.recent:hover ~ i,
.ancient:hover ~ i {
  visibility: visible;
}

#toggle:not(:target) + i {
  visibility: visible;
}

.toggleable.active {
  color: #fff;
}
