.splash {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  outline: red solid 2px;
}

.splash .title {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}

.title img {
  width: 100px;
  margin: 12px;
  border-radius: 50%;
}

.splash .links {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.sign_in {
  background-color: #3778c2;
  color: #fff;
}

.sign_up {
  color: #434b54;
  background-color: #fff;
}

.sign_in,
.sign_up {
  width: 100%;
  display: flex;
  padding: 12px;
  margin: 0 12px;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  text-decoration: none;
}
